* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(172, 189, 236);
    background: linear-gradient(158deg, rgba(172, 189, 236, 0.8802871490393032) 28%, rgba(209, 171, 211, 0.9587185215883228) 74%);
    display: flex;
    justify-content: center;
}


button {
    border-radius: 0.25rem;
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 0.2s;
}


button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(147, 215, 198);
}

#keyboard {

    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 4.1rem);
    grid-template-rows: repeat(4, 4.1rem);
    justify-content: center;

}


#calculatrice {
    border-radius: 0.5rem;
    margin: 5rem;
    border: 2px solid black;
    width: 18rem;
    height: 31rem;
    background-color: cornflowerblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#screen {
    border-radius: 0.5rem;
    border: 2px solid black;
    margin: 0.8rem auto;
    height: 8rem;
    width: 16.2rem;
    background-color: rgb(240, 240, 240);

}

#calcule {
    margin: 0.5rem;
    font-size: 2rem;
}

#result {
    margin: 2.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    justify-content: end;
    font-size: 2rem;

}

.egale {
    background-color: orange;
}

.egale:hover {
    color: black;
    background-color: rgb(125, 201, 236);
}

#reset {
    background-color: deeppink;
}

.op {

    flex-wrap: wrap;
    flex-direction: column;

}

.egale {
    height: 8rem;
}


.zero {
    width: 8rem;
    grid-column: span 2;
}